<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京</key>
	<array>
		<string>朝阳区</string>
		<string>海淀区</string>
		<string>昌平区</string>
		<string>东城区</string>
		<string>西城区</string>
		<string>石景山区</string>
		<string>崇文区</string>
		<string>宣武区</string>
		<string>丰台区</string>
		<string>门头沟区</string>
		<string>房山区</string>
		<string>通州区</string>
		<string>大兴区</string>
	</array>
	<key>上海</key>
	<array>
		<string>杨浦区</string>
		<string>虹口区</string>
		<string>宝山区</string>
		<string>金山区</string>
		<string>南汇区</string>
		<string>徐汇区</string>
		<string>青浦区</string>
		<string>嘉定区</string>
		<string>松江区</string>
		<string>浦东新区</string>
		<string>闵行区</string>
		<string>静安区</string>
	</array>
	<key>天津</key>
	<array>
		<string>和平区</string>
		<string>河东区</string>
		<string>河西区</string>
		<string>南开区</string>
		<string>河北区</string>
		<string>红桥区</string>
		<string>塘沽区</string>
		<string>汉沽区</string>
		<string>大港区</string>
		<string>东丽区</string>
		<string>西青区</string>
		<string>津南区</string>
		<string>北辰区</string>
	</array>
	<key>吉林</key>
	<array>
		<string>长春市</string>
		<string>吉林市</string>
		<string>四平市</string>
		<string>白山市</string>
		<string>松原市</string>
		<string>白城市</string>
		<string>通化市</string>
		<string>延边朝鲜族自治州</string>
	</array>
	<key>辽宁</key>
	<array>
		<string>沈阳市</string>
		<string>大连市</string>
		<string>鞍山市</string>
		<string>抚顺市</string>
		<string>本溪市</string>
		<string>丹东市</string>
		<string>锦州市</string>
		<string>营口市</string>
		<string>铁岭市</string>
	</array>
	<key>广州</key>
	<array>
		<string>佛山市</string>
		<string>东莞市</string>
		<string>阳江市</string>
		<string>河源市</string>
	</array>
</dict>
</plist>
