<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Y001 UIButton</key>
	<string>Y001ViewController</string>
	<key>Y002 UILabel</key>
	<string>Y002ViewController</string>
	<key>Y003 UITextField</key>
	<string>Y003ViewController</string>
	<key>Y004 UIImageView</key>
	<string>Y004ViewController</string>
	<key>Y005 UITextView</key>
	<string>Y005ViewController</string>
	<key>Y006 UISiwtch</key>
	<string>Y006ViewController</string>
	<key>Y007 UISlider</key>
	<string>Y007ViewController</string>
	<key>Y008 UIAlertView</key>
	<string>Y008ViewController</string>
	<key>Y009 UIActionSheet</key>
	<string>Y009ViewController</string>
	<key>Y010 UIDatePicker</key>
	<string>Y010ViewController</string>
	<key>Y011 UIPickerView</key>
	<string>Y011ViewController</string>
	<key>Y012 UITableView1</key>
	<string>Y012ViewController1</string>
	<key>Y012 UITableView2</key>
	<string>Y012ViewController2</string>
</dict>
</plist>
