<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>喂，在吗</string>
		<key>time</key>
		<string>前天 10:27</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>问你个事</string>
		<key>time</key>
		<string>前天 10:28</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>说，什么事？</string>
		<key>time</key>
		<string>昨天 20:05</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我就想问下：你是不是2B</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>不是</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>那为什么别人都是你是</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是</string>
		<key>time</key>
		<string>昨天 20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我就说嘛</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>。。。。。。。。。</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
