<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>老周</string>
	<string>小桃</string>
	<string>老张</string>
	<string>老李</string>
	<string>老王</string>
	<string>大王</string>
	<string>小鬼</string>
	<string>中齐</string>
	<string>不上宋</string>
	<string>不下曹</string>
	<string>上上朱</string>
	<string>下下杨</string>
</array>
</plist>
